<div class="contenedor_ bg-light shadow-lg" id="borde">
  <div class="col-lg-12">
    <h4><b>Proyectos realizados:</b></h4>
    <table class="table">
      <tbody>
        <tr>
          <td class="col-lg-7 col-md-7 col-sm-7 parte2">
            <h4>Portfolio Web - Proyecto final Argentina Programa.</h4>
            <p>Ésta<b> Single Page Application (SPA)</b> consiste en el desarrollo de un Portfolio
              web que sea de arquitectura distribuida, el cual contiene interface de usuario,
              una base de datos y las APIS necesarias para proveer la información a través de internet.</p><br>

             <h5> <b> Tecnologías utilizadas: 🛠 </b></h5>
            <ul>
              <li><b>Angular</b> como framework para el frontend.</li>
              <li><b>Spring Boot</b> como framework para el backend.</li>
              <li><b>Spring Security</b> modulo de seguridad de Spring.</li>
              <li><b>JWT estandar</b> para generar tokens de seguridad.</li>
              <li><b>MySQL</b> base de datos del proyecto, alojada en Clever Cloud.</li>
            </ul>
          </td>
          <div class="col-lg-3 col-md-3 col-sm-3  offset-lg-2 offset-md-2 offset-sm-2  parte2" >
            <img src="../../../assets/portfolio.jpg" alt="Portfolio" class="img-fluid img-proyecto grayscale">
          </div>

        </tr>
      </tbody>
    </table>

  </div>


</div>
