
.redes{
  margin-right: 0.5em;
}

#logoAP {
     width: 120px;
}
img {
  width: 25px;
  margin-left: 0.5em;
}

.btn{
  border-width: small;
}


/* --- para la vista de celular ---*/
@media(max-width: 575px){
.container {
    flex-direction: column;
  }

  .redes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .redes img {
    margin: 0.2em;
  }
}

.contenedor {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  border-radius: 20px;

}

.contenedor_ {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  border-radius: 20px;
  padding: 16px;

}

.contenedor2 {
  display: flex;
  justify-content: center;
  /* width: 150%;  */
  max-width: 1100px;
  margin: auto;

}
