<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/profile.jpg" class="img-fluid" id="fotoperfil"> 
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <!-- <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p> -->
    <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>

    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mí</h1>
      <p> Soy un diseñador experimentado que busca trabajar con empresas y clientes de todo el mundo. Tengo experiencia en la
      entrega de diseño de UX/UI de extremo a extremo. Me interesa mejorar la vida de las personas a través del diseño y
      siempre busco aprender cosas nuevas todos los días.
      </p>
    </span>
  </div>
</div>
