<div class="contenedor_ bg-info" id="borde">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <span>
      <h3>Acerca de mí:</h3>
      <p> Soy un diseñador gráfico de la vieja escuela y actualmente programador web apasionado de la tecnología que busca lograr
      soluciones y mejorar la vida de las personas. Tengo experiencia en la entrega de diseño de UX/UI de extremo a extremo.
      Me interesa aprender y mantenerme actualizado todos los días. Soy un entusiasta autodidacta!!!
      </p>
    </span>
  </div>
</div>
