
<div class="contenedor2">
  <footer>
    <p style="color: #dfdede"> ©Argentina Programa 2022 | Alejandro Fernandez &nbsp;<br><br></p>
    <div>
    <a style="color: #838383;" href="https://www.facebook.com/alef2k" target="blank">
      <i class="fab fa-facebook-f"></i></a>
    <!-- Twitter -->
    <a style="color: #838383;" href="#!" target="blank"><i class="fab fa-twitter"></i></a>
    <!-- Linkedin -->
    <a style="color: #838383;" href="https://www.linkedin.com/in/ale-fer" target="blank">
      <i class="fa fa-linkedin"></i></a>
    <!-- github -->
    <a style="color: #838383;" href="https://github.com/Alef2k" target="blank">
      <i class="fa fa-github"></i></a>
      </div>
  </footer>

</div>






